*, 
*::after, 
*::before, 
ul {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

html {
    font-size: 62.5%;
}

body {
    background: url('https://s3.nat-geo.ru/images/2020/6/4/c742c0414bf24c33a9ff2f67541ded02.max-2500x1500.jpg') no-repeat;
}